@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Secular+One&family=Staatliches&display=swap');

:root {
    --font-p: "Secular One", serif;
    --font-h1:  "Staatliches", sans-serif;
    --font-footer: "Red Hat Display", sans-serif;
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: white;
    overflow-x: hidden;
}

/*tarja amarela que divide ponta a pointa da página*/
.linha-quebra {
    background-color: #ffd700;
    width: 100%;
    height: 7px;
}

/*banner no tipo do site*/
.banner {
    background: url(../imagens/BANNER-TOPO.jpg)no-repeat center/cover;
    height: 100vh;
    width: 100%;
}
header {
    position: relative;
    background-color: transparent;
    font-family: var(--font-p);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    width: 100%;
    height: 5em;
}

/*logo da empresa localizada no header*/
.logo {
    margin: 2em 3em 0 1em;
    width: 100px;
    height: 120px;
}

nav {
    display: flex;
    margin: 4em auto;
    gap: 5em;
    width: 100%;
}

/*links do header (navs)*/
a {
    position: relative;
    text-decoration: none;
    color:#000000;
}
/*animação de sublinhado nas navs*/
a:after {
    content: "";
    position: absolute;
    background-color:  #ffd700;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -1px;
    transition: 0.3s;
    border-radius: 4px;
}
a:hover:after {
    width: 100%;
    font-size: 17px;
}

/*posições dos botoes de cardápio*/
.navegacao-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 30vh;
}
/*estilos dos botoes de cardápio*/
.botoes{
    font-family: var(--font-p);
    font-weight: bolder;
    padding: 10px;
    border-radius: 50px;
    width: 90px;
    text-align: center;
    color: white;
    cursor: pointer;
}
/*estilização indivual de cada botão*/
.pizza{
    background-color:#ac0c0cd0 ;
}
.refri{
    background-color:#21661bbe;
}
.porcoes{
    background-color:#ffbb00d5 ;
}
/*animações inviduais de cada botao*/
.pizza:hover{
    background-color:#ac0c0cfb;
}
.refri:hover{
    background-color:#21661b;
}
.porcoes:hover{
    background-color:#ffae00;

}
/*animações em comum dos botões*/
.pizza:hover, .porcoes:hover, .refri:hover {
    font-size: 17px;
    box-shadow: 0px 0px 8px gray;
}

/*container do cardápio de todos os produtos*/
.cardapio {
    position: relative;
}
/*estilização de todos os cardápios disponiveis em GRID*/
.cardapio-pizzas, .cardapio-porcoes, .cardapio-refri {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%);
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    padding: 30px;
    flex-direction: column;
    margin: auto;
    height: 40em;
    width: 60em;
    transition: opacity 0.5s ease;
    z-index: 1;

}
/*Hierarquia de cada cardápio (para Javascript)*/
.cardapio-pizzas {
    opacity: 1;
} 
.cardapio-porcoes, .cardapio-refri {
    pointer-events: none;
    opacity: 0;
}

/*Estilização e animação de todas as boxes do cardápio*/
.box {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: solid 2px black;
    width: 9.5em;
    height: 17em;
    margin: auto;
}
.box:hover{
    background: linear-gradient(to bottom,  rgb(179, 34, 34), rgb(255, 255, 255));
    background-size: 100% 60%;
    background-position: top;
    background-repeat: no-repeat;
    border: solid 3px rgb(179, 34, 34);
    width: 9.5em;
    height: 18.5em;
    border-radius: 8px;
    transition-duration: 0.3s;
}

/*container dos botoes de Adição e subtração de produto*/
.buy-btn {
    font-family: var(--font-p);
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    margin: center;
    justify-content: space-around;
    align-items: center;
    width: 60px;
    z-index: 3;
    opacity: 0;
    transition-duration: 0.2s;
}
.buttonAdd, .buttonRemove {
    all: unset;
    text-align: center;
    color: black;
    background: linear-gradient(to right, orange, yellow);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px black solid;
}

/*Estilização de tudo que há dentro das boxes*/
.produto-container {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 140px;
    height: auto;
    margin: 5px 2px;
}
.produto-container >img {
    margin: auto;
    width: 140px;
    height: 140px;
    border-radius: 50%;
}
.title, .value {
    text-align: center;
    padding: 3px;  
}
.title {
    font: normal small-caps lighter 9px var(--font-p);
}
.value {
    font: normal small-caps lighter 17px var(--font-p);
    color: #ffae00;
}
.peso {
    font: normal small-caps lighter 12px var(--font-p);
}

/*Estilização do final da página.*/
footer {
    font-family: var(--font-footer);
    font-weight: lighter;
    font-size: 12px;
    text-align: center;
    color:white;
    margin: 32em auto 0;
    position: relative;
    background: url(../imagens/footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 90vh;
}
/*redes ficticías da empresa*/
.final {
    position: absolute;
    width: 100%;
    top: 70%;
    align-items: center;
    justify-content: space-around;
    display: flex;
}
/*Redes do Desenvolvedor*/
.MinhasInf {
    background-color: black;
    height: 5em;
    position: absolute;
    width: 100%;
    top: 100%;
}
