/*AQUI EU FAÇO AS MEDIAS QUERIES NO SENTIDO DESKTOP FIRST.*/

/*DESKTOPS*/

@media (min-width:1023px) and (max-width:1276px){
    .h1-promocao{
        font-size: 17px;
        height: 90vh;
        width: 25vw;
    }

    .foto-promocao {
        height: 0px;
    }

    .foto-promocao > img {
        height: 30em;
        width: 30em;
    }

    footer {
        margin: 37em auto 0;
    }
}

/*NOTEBOOKS*/
@media (min-width: 769px) and (max-width:1023px){
    .banner {
        height: 70vh;
        width: 100%;
    }

    .logo {
        margin: 1em 1em 0 1em;
        width: 80px;
        height: 80px;
    }

    nav {
        margin: 4em auto;
        gap: 2em;
        width: 100%;
    }

    .guias {
        font-size: 18px;
    }

    .h1-promocao {
        height: 36em;
        font-size: 16px;
        width: 32em;
        padding: 20px;
    }
    
    .cardapio-pizzas, .cardapio-porcoes, .cardapio-refri {
        top: 30%;
        left: 50%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        padding: 100px;
    }
    
    .box {
        width: 9.5em;
        height: 17em;
        margin: 0 auto 2em;
    }

    footer {
        margin: 60em auto 0;
    }
}

/*TABLETS*/
@media (min-width:481px) and (max-width: 768px) {
    .banner {
        height: 73vh;
        width: 100%;
    }

    .logo {
        margin: 1em 1em 0 1em;
        width: 90px;
        height: 90px;
    }

    nav {
        margin: 4em auto;
        gap: 2.5em;
        width: 100%;
    }

    .guias {
        font-size: 16px;
    }

    .h1-promocao {
        height: 34em;
        font-size: 17px;
        width: 35em;
        padding: 20px;
    }
    
    .cardapio-pizzas, .cardapio-porcoes, .cardapio-refri {
        top: 30%;
        left: 50%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        padding: 100px;
    }
    
    .box {
        width: 9.5em;
        height: 17em;
        margin: 0 auto 2em;
    }

    footer {
        margin: 60em auto 0;
    }
}

/*CELULAR*/
@media (max-width:480px) {

    header {
        background-color: rgba(0, 0, 0, 0.39);
        height: 4em;
        position: fixed;
        z-index: 4;
    }

    .banner {
        height: 46vh;
        width: 100%;
    }

    .logo {
        margin: 0 20px 0 1em;
        width: 70px;
        height: 90px;
        padding: 0;
    }

    nav {
        gap: 2.5em;
        width: 100%;
    }

    .guias {
        font-size: 16px;
        color: rgb(255, 255, 255);
    }

    .container-promocao {
        height: 40vh;
    }

    .foto-promocao {
        height: 0px;
    }

    .foto-promocao > img {
        height: 15em;
        width: 15em;
    }

    .h1-promocao {
        height: 25em;
        font-size: 10px;
        width: 22em;
        padding: 20px;
    }

    .navegacao-btn {
        height: 5em;
    }
    
    .cardapio-pizzas, .cardapio-porcoes, .cardapio-refri {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        padding: 40px 250px;
    }
    
    .box {
        width: 9.5em;
        height: 17em;
        margin: 0 auto 2em;
    }

    footer {
        color:white;
        margin: 32em auto 0;
        width: 100vw;
        height: 55vh;
    }
    
    .final {
        top: 60%;
    }

    footer {
        margin: 114em auto 0;
        font-size: 10px;
    }

    .MinhasInf {
        height: 6em;
    }
}
