/*AQUI EU FAÇO AS MEDIAS QUERIES NO SENTIDO DESKTOP FIRST.*/

/*TV*/
@media (min-width:1163px) {


    .banner {
        height: 120vh;
        width: 100%;
    }

    footer {
        margin: 40em auto 0;
    }

    .MinhasInf {
        height: 5em;
    }
}

/*DESKTOPS MAIORES*/
@media (min-width:1040px) and (max-width:1162px){

    .banner {
        height:115vh;
        width: 100%;
    }

    footer {
        margin: 40em auto 0;
    }

    .MinhasInf {
        height: 5em;
    }
}


/*DESKTOPS*/
@media (min-width:921px) and (max-width:1039px){

    
    body, html {
        background-color: white;
        overflow-x: hidden;
    }

    footer {
        margin: 40em auto 0;
    }

    .MinhasInf {
        height: 5em;
    }
}

/*TELAS GRANDES*/
@media (min-width:767px) and (max-width:920px){
    
    body, html {
        background-color: white;
        overflow-x: hidden;
    }

    .banner {
        height:85vh;
        width: 100%;
    }

    .logo {
        margin: 1em 1em 0 1em;
        width: 80px;
        height: 80px;
    }

    nav {
        margin: 4em auto;
        gap: 2em;
        width: 100%;
    }

    .guias {
        font-size: 18px;
        color: rgb(0, 0, 0);
    }
    
    .cardapio-pizzas, .cardapio-porcoes, .cardapio-refri {
        grid-template-columns: repeat(4, 1fr);
        padding: 100px 125px;
    }
    
    .box {
        width: 9.5em;
        height: 17em;
        margin: 0 auto 2em;
    }

    footer {
        margin: 45em auto 0;
    }

    .MinhasInf {
        height: 5em;
    }
}

/*TELAS MEDIA-ALTA*/

@media (min-width:661px) and (max-width:766px){
    
    body, html {
        background-color: white;
        overflow-x: hidden;
    }

    header {
        background-color: rgba(0, 0, 0, 0.349);
        height: 4em;
        width: 100vw;
    }
    
    .banner {
        height:75vh;
        width: 100%;
    }

    .logo {
        margin: 1em 1em 0 1em;
        width: 80px;
        height: 80px;
    }

    nav {
        margin: 4em auto;
        gap: 2em;
        width: 100%;
    }

    .guias {
        font-size: 18px;
        color: white;
    }
    
    .cardapio-pizzas, .cardapio-porcoes, .cardapio-refri {
        top: 30%;
        left: 50%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        padding: 100px 200px;
    }
    
    .box {
        width: 9.5em;
        height: 17em;
        margin: 0 auto 2em;
    }

    footer {
        margin: 65em auto 0;
    }

    .MinhasInf {
        height: 5em;
    }
}

/*TELAS MEDIAS*/
@media (min-width: 558px) and (max-width:660px){

    
    body, html {
        background-color: white;
        overflow-x: hidden;
    }

    header {
        background-color: rgba(0, 0, 0, 0.349);
        height: 4em;
        width: 100vw;
    }
    
    .banner {
        height: 60vh;
        width: 100%;
    }

    .logo {
        margin: 1em 1em 0 1em;
        width: 80px;
        height: 80px;
    }

    nav {
        margin: 4em auto;
        gap: 2em;
        width: 100%;
    }

    .guias {
        font-size: 18px;
        color: white;
    }
    
    .cardapio-pizzas, .cardapio-porcoes, .cardapio-refri {
        grid-template-columns: repeat(3, 1fr);
        padding: 100px 200px;
    }
    
    .box {
        width: 9.5em;
        height: 17em;
        margin: 0 auto 2em;
    }

    footer {
        margin: 65em auto 0;
    }

    .MinhasInf {
        height: 5em;
    }
}

/*TABLETS*/
@media (min-width:460px) and (max-width: 557px) {
    
    body, html {
        background-color: white;
        overflow-x: hidden;
    }

    header {
        background-color: rgba(0, 0, 0, 0.39);
        height: 4em;
        width: 100vw;
        position: fixed;
        z-index: 4;
    }

    .banner {
        height: 55vh;
        width: 100%;
    }

    .logo {
        margin: 0px 0.5em;
        width: 90px;
        height: 90px;
    }

    nav {
        
        margin: 4em auto;
        gap: 2.5em;
        width: 100%;
    }

    .guias {
        font-size: 16px;
        color: white;
    }

    .cardapio-pizzas, .cardapio-porcoes, .cardapio-refri {
        grid-template-columns: repeat(2, 1fr);
        padding: 100px 250px;
    }
    
    .box {
        width: 9.5em;
        height: 17em;
        margin: 0 auto 2em;
    }

    .final {
        top: 60%;
    }

    footer {
        margin: 112em auto 0;
        font-size: 10px;
        height: 30em;
    }
    
    .MinhasInf {
        height: 6em;
    }
}

/*CELULAR*/
@media (min-width:360px) and (max-width:459px) {

    body, html {
        background-color: white;
        overflow-x: hidden;
    }

    header {
        background-color: rgba(0, 0, 0, 0.39);
        height: 4em;
        width: 100vw;
        position: fixed;
        z-index: 4;
    }

    .banner {
        height: 40vh;
        width: 100%;
    }

    .logo {
        margin: 0 20px 0 1em;
        width: 35px;
        height: 50px;
        padding: 0;
    }

    nav {
        gap: 1.5em;
    }

    .guias {
        font-size: 12px;
        color: rgb(255, 255, 255);
    }

    .navegacao-btn {
        height: 5em;
    }
    
    .cardapio-pizzas, .cardapio-porcoes, .cardapio-refri {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        padding: 40px 310px;
    }
    
    .box {
        width: 9.5em;
        height: 17em;
        margin: 0 auto 2em;
    }

    footer {
        color:white;
        margin: 32em auto 0;
        width: 100vw;
        height: 55vh;
        margin: 20px;
    }
    
    .final {
        top: 60%;
    }

    footer {
        margin: 147em auto 0;
        font-size: 8px;
    }

    .MinhasInf {
        height: 7em;
    }
}

/*telas pequenas*/
@media (max-width:359px) {

    body, html {
        background-color: white;
        overflow-x: hidden;
    }

    header {
        background-color: rgba(0, 0, 0, 0.39);
        height: 4em;
        width: 100vw;
        position: fixed;
        z-index: 4;
    }

    .banner {
        height: 30vh;
        background-position: center;
    }

    .logo {
        margin: 0 20px 0 1em;
        width: 35px;
        height: 50px;
        padding: 0;
    }

    nav {
        gap: 1.5em;
    }

    .guias {
        font-size: 12px;
        color: rgb(255, 255, 255);
    }

    .navegacao-btn {
        height: 5em;
    }
    
    .cardapio-pizzas, .cardapio-porcoes, .cardapio-refri {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        padding: 40px 310px;
    }
    
    .box {
        width: 9.5em;
        height: 17em;
        margin: 0 auto 2em;
    }

    footer {
        color:white;
        margin: 32em auto 0;
        width: 100vw;
        height: 55vh;
        margin: 20px;
    }
    
    .final {
        top: 60%;
    }

    footer {
        margin: 147em auto 0;
        font-size: 8px;
    }

    .MinhasInf {
        height: 7em;
    }

}